.navbar {
    background-color: #E48F45;
}

.navbar-text-white a, .navbar-text-white .navbar-brand, .navbar-text-white .nav-link {
    color: white;
  }

  .navbar .nav-dropdown .dropdown-item {
    color: black; 
  }
  
.nasmer {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}